<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="DevOps Main Feed" value="https://ei-buildsrv.electroimpact.com/Automation/_packaging/Main/nuget/v3/index.json" />
    <add key="DevOps AFP Feed" value="https://ei-buildsrv.electroimpact.com/Automation/_packaging/AFP/nuget/v3/index.json" />
    <add key="Electroimpact Feed" value="\\ei-buildsrv\NuGetPackages" />
  </packageSources>
</configuration>